@charset "ISO-8859-1";

.header{
	text-align: center;	
	text-shadow: 2px 2px 5px gray; 
	margin: auto;
  	width: 50%;  	
  	padding: 10px;
	
}

.lbl{
	text-shadow: 2px 2px 5px gray;
	width: 50%;	
	font-weight: lighter;
	color: #0080c0;
	font-family: Century gothic;
	font-style: italic;
}

.container{
	text-align: center;
	margin: auto;
	padding-left: 5%;
	padding-top: 5%;
}

.tbl{
	width: 50%;
	padding-left: 20%;
}

.txt{
	width: 30%;
	
}

.buttondiv{
	text-align: center;
	margin: auto;
	padding-left: -5%;
	padding-top: 1%;
}

.button {
  background-color: #ff8000; 
  border: none;
  color: #676767;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
  font-family: Century gothic;
  font-style: italic;
  font-weight: bold;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.home {
  background-color: #b6c4fc; 
  border: none;
  color: #676767;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
  font-family: Century gothic;
  font-style: italic;
  font-weight: bold;
}

.home1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}